@tailwind base;
@tailwind components;
@tailwind utilities;
.boxshadow{
    box-shadow: 14px 15px 14px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 14px 15px 14px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 14px 15px 14px 1px rgba(0,0,0,0.75);
}

.boxshadowforproject{
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.4), 10px 10px 0px 0px rgba(0, 0, 0, 0.3), 15px 15px 0px 0px rgba(0, 0, 0, 0.2), 20px 20px 0px 0px rgba(0, 0, 0, 0.1);
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    /* This targets Chrome */
    /* Add your CSS rules here */
    .amandeep {
        bottom:4px;
    }
}

  